* {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background: url(../images/bg4_home.jpg);
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}

/* welcome section */
.container {
  height: 200px;
}
.container p {
  margin-left: 110px;
  font-size: 23px;
}
.container p span {
  margin-top: 140px;
  display: block;
  width: max-content;
  font-size: 70px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

.book-button {
  margin-left: 115px;
  padding: 10px 20px;
  border: none;
  color: #fbf3f2;
  cursor: pointer;
  background-color: #db6d2e;
  margin-top: 10px;
  font-size: 16px;
  border-radius: 3px;
}
.book-button a {
  color: white;
  text-decoration: none;
}
@media (max-width: 723px) {
  .logo-name {
    display: none;
  }

  .logo {
    width: max-content;
  }

  .container p {
    margin-left: 20px;
    font-size: 20px;
  }
  .container p span {
    margin-top: 100px;
    font-size: 50px;
  }

  .book-button {
    margin-left: 25px;
  }

  #search-destination {
    margin-top: 50px;
  }

  .card-title {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .card-details {
    font-size: 12px;
  }
  .destinations-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
