form {
  margin: auto;
  margin-top: 40px;
  padding: 20px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.502);
  width: 510px;
  background-color: rgba(255, 255, 255, 0.89);
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.form-title {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.description {
  text-align: center;
  font-size: 16px;
  padding-bottom: 10px;
}

.name-label,
.email-label {
  display: block;
  margin: 8px 0px;
}

.phone-label {
  margin-right: 158px;
}

.sites-label {
  margin-right: 172px;
}

#depart-label {
  margin-right: 155px;
}

input,
select {
  padding: 5px;
  border: 1px solid rgb(200, 200, 200);
  background-color: rgba(255, 255, 255, 0.808);
}

input::placeholder {
  color: rgb(137, 137, 137);
}

.first-name-input,
.last-name-input,
.phone-input,
.travelers-input,
.budget-input,
.date-input {
  width: 228px;
  margin: 8px 0px;
  border-radius: 4px;
}

.first-name-input,
.phone-input,
#sites,
#depart-input {
  margin-right: 25px;
}

.email-input {
  display: block;
  width: 98%;
  margin-bottom: 8px;
  border-radius: 4px;
}

#sites {
  width: 240px;
}

.insurance {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.radio-buttons {
  margin-left: 20px;
}

.yes,
.no {
  display: inline;
  margin: 0px 5px;
}

.submit-button {
  display: block;
  background-color: rgb(1, 103, 1);
  color: white;
  border: none;
  width: 200px;
  height: 35px;
  font-size: 16px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.15s;
}

.submit-button:hover {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.528);
  background-color: rgb(2, 128, 2);
}
